@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat|Kaushan+Script');
/*Estilos generales*/
*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
section{
	padding: 80px 0;
}
section h1, section h4{
	font-weight: bolder;
}

.naranja{
	background-color: #F6C90E;
	color: white;
}


.gris{
	background-color: #eae8e8;
}

/*---Seccion nav--*/
.navbar-brand {
    color: #F6C90E;
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}
.negro{
	background-color: black;
	color: white;
}
.navbar-nav>.active{
	background-color: #F6C90E;
}

.navbar-nav a{
	color: white;
}
#mainNav .navbar-toggle {
    padding: 13px;
    color: white;
    border: 0;
    background-color: #fed136;
}

/*---Header--*/
header{
	height: 700px;
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	padding-top: 300px;
	color: white;
}

header h3{
	font-family: 'Courgette', cursive;
	font-size: 3em;
}
header h1{
	font-size: 5em;
	font-weight: bolder;
}

@media (max-width: 800px){
	header h3{
		font-size: 2em;
	}
	header h1{
		font-size: 3em;
	}
}
/*---Services--*/
.icono{
	font-size: 60px;
  line-height: 100px;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
	margin: 25px auto;
}
/*---Portfolio--*/
.caption{
	max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
}
/*---About--*/
#about .row{
	padding: 10px 5px 0 70px ;
}

.redondo{
	color: white;
  width: 180px;
  height: 180px;
  padding: 40px;
  background-color: #fed136;
  border-radius: 50%;
  border: 5px solid #eeeeee;
  font-size: 140%;
  font-weight: bold;
}

@media (max-width: 1000px){
	#about .row{
		padding: 0;
	}
	#about .text-right{
		text-align: left;
	}
	#about .redondo{
		width: 150px;
		height: 150px;
		padding: 30px;
		font-size: 120%;
	}

	.derecha{
		right: 75%;
	}

	.izquierda{
		left: 25%;
	}
}

@media (max-width: 767px) {
	#about .redondo{
		width: 90px;
		height: 90px;
		padding: 10px;
		font-size: 90%;
	}

	.izquierda{
		left: 16.666667%;
	}
}
/*---Team--*/
.social a{
	font-size: 20px;
    line-height: 45px;
    display: block;
    width: 45px;
    height: 45px;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #222;
}

.social a:hover{
	background-color: #F6C90E;
	color: white;
}
/*---Contact--*/
#contact{
	background-color: black;
	background-image: url(../img/map-image.png);
	background-size: cover;
	color: white;
}

#contact form{
	padding: 20px 0;
}
#contact input, #contact textarea{
	padding: 20px;
}
#send{
	margin: 20px auto;
}

.error{
	text-align: left;
	color: red;
	display: none;
}

/*---Footer--*/
footer{
	padding: 20px;
}

.copy{
	line-height: 40px;
}

.copy a{
	color:  #F6C90E;
}
